* {
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

header, footer {
    background-color: darkolivegreen;
    color: white;
}

main {
    height: calc(100vh - 4rem);
}

footer {
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
}

#dice {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    margin-top: 2rem;
}

button {
    background-color: darkolivegreen;
    color: white;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    cursor: pointer;
}

